USE [PCDB]
GO
/****** Object:  Table [RV].[RV_TBL_PARTNUM_ACUERDOS]    Script Date: 23/1/2026 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RV].[RV_TBL_PARTNUM_ACUERDOS](
	[UnNeg] [varchar](10) NOT NULL,
	[CYO] [bit] NOT NULL,
	[Carrier] [bit] NOT NULL,
	[PartNum] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnNeg] ASC,
	[CYO] ASC,
	[Carrier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RV].[RV_TBL_PARTNUM_DIF_PRECIO]    Script Date: 23/1/2026 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RV].[RV_TBL_PARTNUM_DIF_PRECIO](
	[Company] [varchar](10) NOT NULL,
	[Consignataria] [varchar](10) NOT NULL,
	[UnidadNeg] [varchar](20) NOT NULL,
	[CYO] [bit] NOT NULL,
	[PromInd] [varchar](5) NOT NULL,
	[PartNum] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Company] ASC,
	[UnidadNeg] ASC,
	[CYO] ASC,
	[PromInd] ASC,
	[Consignataria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RV].[RV_TBL_PARTNUM_SELL_OUT]    Script Date: 23/1/2026 16:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RV].[RV_TBL_PARTNUM_SELL_OUT](
	[UnidadNeg] [varchar](20) NOT NULL,
	[Moneda] [int] NOT NULL,
	[GrupoProd] [varchar](10) NOT NULL,
	[PartNum] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnidadNeg] ASC,
	[Moneda] ASC,
	[GrupoProd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [RV].[RV_TBL_PARTNUM_ACUERDOS] ([UnNeg], [CYO], [Carrier], [PartNum]) VALUES (N'ALC', 0, 0, N'ACUSUP-ALC')
INSERT [RV].[RV_TBL_PARTNUM_ACUERDOS] ([UnNeg], [CYO], [Carrier], [PartNum]) VALUES (N'ALC', 0, 1, N'ACU SUP ALCATEL/CARRIER USD')
INSERT [RV].[RV_TBL_PARTNUM_ACUERDOS] ([UnNeg], [CYO], [Carrier], [PartNum]) VALUES (N'HIT', 0, 0, N'ACUSUP-HIT')
GO
INSERT [RV].[RV_TBL_PARTNUM_DIF_PRECIO] ([Company], [Consignataria], [UnidadNeg], [CYO], [PromInd], [PartNum]) VALUES (N'CO01', N'CO01', N'ALC', 0, N'NP', N'DIF PRECIO NP ALC')
INSERT [RV].[RV_TBL_PARTNUM_DIF_PRECIO] ([Company], [Consignataria], [UnidadNeg], [CYO], [PromInd], [PartNum]) VALUES (N'CO01', N'CO01', N'ALC', 0, N'PR', N'DIF PRECIO PR ALC')
INSERT [RV].[RV_TBL_PARTNUM_DIF_PRECIO] ([Company], [Consignataria], [UnidadNeg], [CYO], [PromInd], [PartNum]) VALUES (N'CO01', N'CO02', N'ALC', 1, N'PR', N'DIF PRECIO PR ALC CYO SO')
GO
INSERT [RV].[RV_TBL_PARTNUM_SELL_OUT] ([UnidadNeg], [Moneda], [GrupoProd], [PartNum]) VALUES (N'ALC', 1, N'CEL', N'SELL OUT $ ALC CEL')
INSERT [RV].[RV_TBL_PARTNUM_SELL_OUT] ([UnidadNeg], [Moneda], [GrupoProd], [PartNum]) VALUES (N'ALC', 1, N'OTROS', N'SELL OUT $ ALC OT')
INSERT [RV].[RV_TBL_PARTNUM_SELL_OUT] ([UnidadNeg], [Moneda], [GrupoProd], [PartNum]) VALUES (N'ALC', 2, N'CEL', N'SELL OUT U$S ALC CEL')
GO
