USE [PCDB]
GO
/****** Object:  Schema [RV]    Script Date: 23/1/2026 13:27:36 ******/
CREATE SCHEMA [RV]
GO

/****** Object:  Table [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE](
	[Company] [nvarchar](50) NOT NULL,
	[TranNum] [int] NOT NULL,
	[Linea] [int] NOT NULL,
	[PartNum] [nvarchar](50) NOT NULL,
	[UnidadN] [nvarchar](10) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](17, 5) NOT NULL,
	[ShipToNum] [nvarchar](14) NOT NULL,
	[Comentario] [nvarchar](1000) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[Eliminado] [bit] NULL,
	[TaxCatID] [nvarchar](10) NULL,
	[XPartNum] [nvarchar](50) NULL,
	[AjusteTax] [bit] NOT NULL,
 CONSTRAINT [PK_RV_TBL_SIP_DETALLE_COMPROBANTE] PRIMARY KEY CLUSTERED 
(
	[Company] ASC,
	[TranNum] ASC,
	[Linea] ASC,
	[PartNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE](
	[Company] [nvarchar](50) NOT NULL,
	[Tipo] [nvarchar](10) NOT NULL,
	[TranNum] [int] IDENTITY(1,1) NOT NULL,
	[TipoCaso] [nvarchar](20) NOT NULL,
	[id_caso] [int] NOT NULL,
	[GroupID] [nvarchar](8) NOT NULL,
	[SoldToCustID] [nvarchar](10) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[InvoiceRef] [int] NOT NULL,
	[InvRefLegNum] [nvarchar](50) NOT NULL,
	[TermsCode] [nvarchar](4) NOT NULL,
	[TaxRegionCode] [nvarchar](4) NOT NULL,
	[Comentario] [nvarchar](1000) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[Eliminado] [bit] NULL,
	[InvoiceNum] [int] NULL,
	[GroupoAsignado] [nvarchar](50) NULL,
	[ExchangeRate] [decimal](20, 10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Company] ASC,
	[TranNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RV].[RV_TBL_SIP_JOB_ACTUALIZA_ESTADO_PC]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RV].[RV_TBL_SIP_JOB_ACTUALIZA_ESTADO_PC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Company] [varchar](10) NULL,
	[Tipo] [varchar](10) NULL,
	[GroupoAsignado] [varchar](50) NULL,
	[TipoCaso] [varchar](20) NULL,
	[id_caso] [int] NULL,
	[TranNum] [int] NULL,
	[Linea] [int] NULL,
	[PartNum] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
	[EliminadoE] [bit] NULL,
	[Eliminado] [bit] NULL,
	[id_estado] [int] NULL,
	[nota_credito_debito] [varchar](50) NULL,
	[Posted] [bit] NULL,
	[LegalNumber] [varchar](50) NULL,
	[New_ID_Estado] [int] NULL,
	[EstadoC] [varchar](50) NULL,
	[Fecha] [datetime] NULL,
	[InvoiceNum] [int] NULL,
 CONSTRAINT [PK_RV_TBL_SIP_JOB_ACTUALIZA_ESTADO_PC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RV].[RV_TBL_SIP_LOG_MENSAJE]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RV].[RV_TBL_SIP_LOG_MENSAJE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](10) NULL,
	[Detalle] [varchar](250) NULL,
	[DetalleUsuario] [varchar](250) NULL,
	[TipoLog] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RV].[RV_TBL_SIP_LOG_PC]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RV].[RV_TBL_SIP_LOG_PC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](50) NULL,
	[GroupID] [nvarchar](8) NULL,
	[TranNum] [int] NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Fecha] [datetime] NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Estado] [nvarchar](10) NOT NULL,
	[Proceso] [nvarchar](250) NOT NULL,
	[JsonRequest] [nvarchar](max) NULL,
	[JsonResponse] [nvarchar](max) NULL,
 CONSTRAINT [PK_RV_TBL_SIP_LOG_PC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [RV].[RV_TBL_SIP_TAXES]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RV].[RV_TBL_SIP_TAXES](
	[Company] [nvarchar](50) NOT NULL,
	[TranNum] [int] NOT NULL,
	[Linea] [int] NOT NULL,
	[PartNum] [nvarchar](50) NOT NULL,
	[TaxCode] [nvarchar](10) NOT NULL,
	[RateCode] [nvarchar](10) NOT NULL,
	[Porcentaje] [decimal](8, 5) NOT NULL,
 CONSTRAINT [PK_RV_TBL_SIP_TAXES] PRIMARY KEY CLUSTERED 
(
	[Company] ASC,
	[TranNum] ASC,
	[Linea] ASC,
	[PartNum] ASC,
	[TaxCode] ASC,
	[RateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE] ADD  DEFAULT ('') FOR [Comentario]
GO
ALTER TABLE [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE] ADD  DEFAULT (NULL) FOR [XPartNum]
GO
ALTER TABLE [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE] ADD  DEFAULT ((0)) FOR [AjusteTax]
GO
ALTER TABLE [RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE] ADD  DEFAULT (CONVERT([date],getdate())) FOR [InvoiceDate]
GO
ALTER TABLE [RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE] ADD  DEFAULT ('') FOR [Comentario]
GO
ALTER TABLE [RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_RV_TBL_SIP_DETALLE_COMPROBANTE_ENCABEZADO_COMPROBANTE] FOREIGN KEY([Company], [TranNum])
REFERENCES [RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE] ([Company], [TranNum])
GO
ALTER TABLE [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE] CHECK CONSTRAINT [FK_RV_TBL_SIP_DETALLE_COMPROBANTE_ENCABEZADO_COMPROBANTE]
GO
ALTER TABLE [RV].[RV_TBL_SIP_TAXES]  WITH CHECK ADD  CONSTRAINT [FK_RV_TBL_SIP_TAXES_DETALLE_COMPROBANTE] FOREIGN KEY([Company], [TranNum], [Linea], [PartNum])
REFERENCES [RV].[RV_TBL_SIP_DETALLE_COMPROBANTE] ([Company], [TranNum], [Linea], [PartNum])
ON DELETE CASCADE
GO

/****** Object:  UserDefinedTableType [dbo].[InvoiceTableType]    Script Date: 23/1/2026 13:27:36 ******/
CREATE TYPE [dbo].[InvoiceTableType] AS TABLE(
	[Company] [varchar](15) NULL,
	[InvoiceNum] [int] NULL,
	[TipoDocumento] [varchar](5) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[RV_FN_Calculo_Monto_Sin_Impuestos]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION	[dbo].[RV_FN_Calculo_Monto_Sin_Impuestos]		(@Company	VARCHAR(5), @InvoiceNum	INT,@TipoDocumento VARCHAR(5),@IVAAD BIT,@Monto	DECIMAL(18,5))

RETURNS DECIMAL(18,5) --WITH INLINE = OFF
AS

BEGIN

DECLARE @MontoSinImpuestos AS DECIMAL(18,5)

/*

DECLARE		@Company			VARCHAR(15)		=		'CO01', 
			@InvoiceNum			INT				=		414969, 		-- 23269, 416664, 411512, 263886, 414969, 417357, 413074
			@TipoDocumento		VARCHAR(5)		=		'NC',
			@IVAAD				BIT				=		1,
			@Monto				DECIMAL(18,5)	=		49488.51

 */

DECLARE @TablaAux	AS	TABLE (
								TaxCode		VARCHAR(10),
								RptCatCode	VARCHAR(10),
								AlicuotaDocumento DECIMAL(10,5),
								AlicuotaActual DECIMAL(10,5),
								TasaDiferente	BIT
								)

INSERT INTO	@TablaAux
SELECT			TaxCode
				,RptCatCode
				,AlicuotaDocumento
				,AlicuotaActual
				,TasaDiferente
FROM			dbo.RV_FNC_PCDB_Control_Cambio_Tasas_Impuestos (@Company, @InvoiceNum, @TipoDocumento)
WHERE			RptCatCode IN ('IMPINT','IVA','PIVA')

DECLARE @Internos DECIMAL(10,5) = ISNULL((SELECT AlicuotaActual	FROM	@TablaAux WHERE RptCatCode		=	'IMPINT'),0)
DECLARE @IVA DECIMAL(10,5)		= (SELECT AlicuotaActual	FROM		@TablaAux WHERE RptCatCode		=	'IVA')
DECLARE @PIVA DECIMAL(10,5)		= (SELECT AlicuotaActual	FROM		@TablaAux WHERE RptCatCode		=	'PIVA')


SET @MontoSinImpuestos = 
(
SELECT		TOP 1	CASE	TII.TaxCode 
					WHEN	'II1' THEN		--Afecta a la base
											CASE	@IVAAD	WHEN	1	THEN	@Monto/(1+(@Internos)/100)/ (1+(@IVA+@PIVA)/100)
											ELSE	@Monto/(1+(@Internos)/100)/ (1+(@IVA)/100)
											END
					ELSE					--No afecta a la base
											CASE	@IVAAD	WHEN	1	THEN	@Monto/(1+(@Internos+@IVA+@PIVA)/100)
											ELSE	@Monto/(1+(@Internos+TIVA.AlicuotaDocumento)/100)
											END
							END															AS	Monto
FROM			@TablaAux					T
LEFT JOIN		@TablaAux					TII			-- Sólo internos
ON	T.TaxCode = TII.TaxCode
	AND	TII.RptCatCode		=	'IMPINT'			
LEFT JOIN		@TablaAux					TIVA		-- Sólo IVA
ON	T.TaxCode = TIVA.TaxCode		
	AND	TIVA.RptCatCode		=	'IVA'
LEFT JOIN		@TablaAux					TIVAAD		-- Sólo percepción IVA
ON	T.TaxCode = TIVAAD.TaxCode		
	AND	TIVAAD.RptCatCode	=	'PIVA'
)

RETURN @MontoSinImpuestos

END



GO
/****** Object:  UserDefinedFunction [dbo].[RV_FN_CLIENTE_HABILITADO]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION	[dbo].[RV_FN_CLIENTE_HABILITADO]		(@Company	VARCHAR(5), @CustID VARCHAR(10))

-- SELECT [dbo].[RV_FN_CLIENTE_HABILITADO]('CO01',49466)

RETURNS BIT  WITH INLINE = OFF
AS

BEGIN

DECLARE @Habilitado BIT 

SET	@Habilitado	=
(
		SELECT		ValidSoldTo
				--Company,
				--CustID,
				--ValidPayer,
				--CASE	
				--		WHEN ValidSoldTo		=		1
				--		THEN 'Habilitado'
				--		ELSE 'Deshabilitado'
				--END AS Estado
				--,ValidShipTo
		FROM	[CORPP11-EPIDB].[EpicorERP].dbo.Customer
		WHERE   Company     =   @Company
			AND	CustID      =   @CustID --'49466' '263'
)

RETURN @Habilitado
END

GO
/****** Object:  UserDefinedFunction [dbo].[RV_FN_IVAAD]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION	[dbo].[RV_FN_IVAAD]		(@Company	VARCHAR(5), @InvoiceNum	INT)

RETURNS BIT WITH INLINE = OFF
AS


/*

DECLARE		@Company VARCHAR(15)	=	'CO01', 
			@InvoiceNum INT			=	389532

*/


BEGIN
DECLARE			@IVAAD			AS BIT  

/*

DECLARE 		@CustNum		INT, 
				@TaxCode		VARCHAR(15), 
				@RateCode		VARCHAR(15), 
				@ExemptType		SMALLINT

*/
 
 SET			@IVAAD		=		( 
									SELECT		CASE	WHEN	MAX(TaxAmt) > 0 THEN	1	 --,ID.TaxCatID
														ELSE	0	END						AS	IVAAD
									FROM		[CORPP11-EPIDB].EpicorERP.Erp.InvcTax			IT		WITH(NoLock)
									WHERE		IT.Company		=		@Company
											AND IT.InvoiceNum	=		@InvoiceNum
											AND IT.TaxCode		=		'IVAAD'
									 )
/*

IF				@IVAAD		=		1

				BEGIN

				SET			@CustNum			=			(
															SELECT			CustNum 
															FROM			[CORPP11-EPIDB].EpicorERP.Erp.InvcHead			IH		WITH(NoLock)
															WHERE			Company		=		@Company
																AND			InvoiceNum	=		@InvoiceNum
															)
				SET			@TaxCode			=			'IVAAD'
				SET			@RateCode			=			( 
															SELECT			RateCode 
															FROM			[CORPP11-EPIDB].EpicorERP.Erp.InvcTax			IT		WITH(NoLock)
															WHERE			IT.Company		=		@Company
																	AND		IT.InvoiceNum	=		@InvoiceNum
																	AND		IT.TaxCode		=		'IVAAD'
															GROUP BY		RateCode 
															)
				SET			@ExemptType			=			(
															SELECT			ExemptType
															FROM			[CORPP11-EPIDB].EpicorErp.Erp.TaxExempt			TE		WITH(NoLock)
															WHERE			RelatedToFile			=			'Customer'
																AND			Company					=			@Company 
																AND			Key1					=			@CustNum
																AND			TaxCode					=			@TaxCode
																AND			RateCode				=			@RateCode
															)

				END 

SELECT		@IVAAD, @CustNum, @TaxCode, @RateCode, @ExemptType

*/


RETURN @IVAAD
 

END

GO
/****** Object:  UserDefinedFunction [dbo].[RV_FN_IVAAD_PORCENTAJE]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION	[dbo].[RV_FN_IVAAD_PORCENTAJE]		(@Company	VARCHAR(5), @InvoiceNum	INT,@InvoiceLine INT)

-- SELECT [dbo].[RV_FN_IVAAD_PORCENTAJE]('CO01',416664,1)

RETURNS DECIMAL(10,5) WITH INLINE = OFF
AS

BEGIN
DECLARE @PORCENTAJE_IVAAD AS DECIMAL(10,5)

SET @PORCENTAJE_IVAAD = ( 
							SELECT		[Percent]/100
							FROM		[CORPP11-EPIDB].EpicorERP.Erp.InvcTax		WITH(NoLock)
							WHERE		Company					=			@Company
								AND		InvoiceNum				=			@InvoiceNum
								AND		InvoiceLine				=			@InvoiceLine
								AND		TaxCode					=			'IVAAD'
				 )
 RETURN @PORCENTAJE_IVAAD

 END




GO
/****** Object:  UserDefinedFunction [dbo].[RV_FNC_PCDB_Control_Cambio_Tasas_Impuestos]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--/*
CREATE FUNCTION [dbo].[RV_FNC_PCDB_Control_Cambio_Tasas_Impuestos] (@Company VARCHAR(15), @InvoiceNum INT, @TipoDocumento VARCHAR(5))
RETURNS TABLE
AS
RETURN

(

-- */

----------------------------------------------------------------------------
 /*

DECLARE			@Company			VARCHAR(15)		=		'CO01', 
				@InvoiceNum			INT				=		407659,		-- 23269, 416664, 411512, 263886
				@TipoDocumento		VARCHAR(5)		=		'ND'
 */

----------------------------------------------------------------------------

SELECT				A.Company, A.InvoiceNum, A.TaxCode, A.RateCode, A.[Description], A.RptCatCode, 
					A.TipoDocumento, A.AlicuotaDocumento, 
					----------------------------------------------------------------------------
		--			A.ExemptType, A.ExemptPercent, A.TaxPercent, 
					----------------------------------------------------------------------------
					ISNULL(ISNULL(NULLIF(A.TaxPercent, 0), A.ExemptPercent), 0)		AS	AlicuotaActual, 
					SUM(TaxableAmt)													AS	TaxableAmt, 
					SUM(TaxAmt)														AS	TaxAmt,  
					CASE
						WHEN		A.AlicuotaDocumento				<>	ISNULL(ISNULL(NULLIF(A.TaxPercent, 0), A.ExemptPercent), 0)			THEN		1					-- Alicuota diferente
						WHEN		A.ExemptType					IS NOT NULL																THEN 
									CASE		
										WHEN	A.ExemptType					=			4
												OR
												ISNULL(A.ExemptPercent, 0)		<>			A.AlicuotaDocumento								THEN		1		
										ELSE																											0
									END																																		-- Exencion del impuesto / Tasa
						WHEN		ISNULL(A.ExemptPercent, 0)		<>	0																	THEN		1					-- Reduccion de tasa
						ELSE																									0
					END														AS	TasaDiferente 
					
FROM				(
					SELECT				IT.Company, IT.InvoiceNum, IT.InvoiceLine, IT.TaxCode, IT.RateCode, IT.TaxableAmt, IT.TaxAmt, IT.[Percent], 
										T.[Description], T.TaxPercent, T.RptCatCode, T.TipoDocumento,  
										IH.CustNum,
										TE.EffectiveFrom, TE.EffectiveTo, 
										TE.ExemptType, 
										CASE
											WHEN		TE.ExemptType		=		4					THEN		0
											ELSE																	TE.ExemptPercent
										END																AS	ExemptPercent, 
										CASE
											WHEN		IT.[Percent]		=		0					THEN		ROUND((IT.TaxAmt / IT.TaxableAmt) * 100, 5)
											ELSE																	IT.[Percent]
										END																AS	AlicuotaDocumento

					FROM				[CORPP11-EPIDB].EpicorERP.Erp.InvcTax			IT		WITH(NoLock)
					INNER JOIN			[CORPP11-EPIDB].EpicorERP.Erp.InvcHead			IH		WITH(NoLock)
						ON				IT.Company			=			IH.Company
						AND				IT.InvoiceNum		=			IH.InvoiceNum 
					INNER JOIN			(
										SELECT				ST.Company, ST.TaxCode, ST.[Description], ST.RptCatCode, 
															STRC.RateCode, STRC.DefaultRate, 
															TR.EffectiveFrom, TR.TaxPercent, 
															CASE
																WHEN	@TipoDocumento	=	'ND'			THEN	@TipoDocumento
																ELSE		
																		CASE 
																			WHEN	ST.RptCatCode	NOT		IN	('PIIBB', 'RGAN', 'RIIBB', 'RSUSS')	THEN	'NC'
																			ELSE																			''
																END 
															END												AS	TipoDocumento
										FROM				[CORPP11-EPIDB].EpicorERP.Erp.SalesTax			ST			WITH(NoLock)
										INNER JOIN			[CORPP11-EPIDB].EpicorERP.Erp.SalesTRC			STRC		WITH(NoLock)
											ON				ST.Company					=			STRC.Company
											AND				ST.TaxCode					=			STRC.TaxCode
										INNER JOIN			(
															-- Solo se listan las tasas de impuestos vigentes al dia de la fecha
															SELECT				A.Company, A.TaxCode, A.RateCode, A.EffectiveFrom, A.TaxPercent 
															FROM				[CORPP11-EPIDB].EpicorERP.Erp.TaxRate			A			WITH(NoLock)
															INNER JOIN			(
																				SELECT				Company, TaxCode, RateCode, MAX(EffectiveFrom) AS EffectiveFrom 
																				FROM				[CORPP11-EPIDB].EpicorERP.Erp.TaxRate						WITH(NoLock) 
																				GROUP BY			Company, TaxCode, RateCode
																				)		B
																ON				A.Company			=			B.Company
																AND				A.TaxCode			=			B.TaxCode
																AND				A.RateCode			=			B.RateCode
																AND				A.EffectiveFrom		=			B.EffectiveFrom
															)			TR			
											ON				STRC.Company				=			TR.Company
											AND				STRC.TaxCode				=			TR.TaxCode
											AND				STRC.RateCode				=			TR.RateCode
										)		T
						ON				IT.Company					=			T.Company
						AND				IT.TaxCode					=			T.TaxCode
						AND				IT.RateCode					=			T.RateCode
					LEFT OUTER JOIN		[CORPP11-EPIDB].EpicorERP.Erp.TaxExempt			TE		WITH(NoLock)
						ON				TE.Key1						=			IH.CustNum
						AND				TE.Company 					=			IH.Company
						AND				TE.TaxCode					=			IT.TaxCode	
						AND				TE.RateCode					=			IT.RateCode
						AND				TE.RelatedToFile			=			'Customer'
						AND				TE.EffectiveFrom			<=			GETDATE()
						AND				TE.EffectiveTo				>=			GETDATE()
					WHERE				IT.Company					=			@Company
						AND				IT.InvoiceNum				=			@InvoiceNum
						AND				IT.TaxAmt					<>			0
						AND				T.TipoDocumento				=			@TipoDocumento	
					)	A

GROUP BY			A.Company, A.InvoiceNum, A.TaxCode, A.RateCode, A.[Description], A.TaxPercent, A.RptCatCode, A.TipoDocumento, A.AlicuotaDocumento, 
					A.ExemptType, A.ExemptPercent  

)
GO
/****** Object:  UserDefinedFunction [dbo].[RV_FNC_PCDB_Control_Cambio_Tasas_Impuestos_Tabla]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--/*

CREATE FUNCTION [dbo].[RV_FNC_PCDB_Control_Cambio_Tasas_Impuestos_Tabla]
(
    @InvoiceTable dbo.InvoiceTableType READONLY -- Cambiamos a tipo tabla
)
RETURNS TABLE
AS
RETURN

/*

DECLARE @InvoiceTable dbo.InvoiceTableType;

-- Insertar múltiples registros en la tabla
INSERT INTO @InvoiceTable (Company, InvoiceNum, TipoDocumento)
VALUES ('CO01', 407659, 'ND')

SELECT		*
FROM		@InvoiceTable

*/

SELECT				A.Company, A.InvoiceNum, A.TaxCode, A.RateCode, A.[Description], A.RptCatCode, 
					A.TipoDocumento, A.AlicuotaDocumento, 
					----------------------------------------------------------------------------
		--			A.ExemptType, A.ExemptPercent, A.TaxPercent, 
					----------------------------------------------------------------------------
					ISNULL(ISNULL(NULLIF(A.TaxPercent, 0), A.ExemptPercent), 0)		AS	AlicuotaActual, 
					SUM(TaxableAmt)													AS	TaxableAmt, 
					SUM(TaxAmt)														AS	TaxAmt,  
					CASE
						WHEN		A.AlicuotaDocumento				<>	ISNULL(ISNULL(NULLIF(A.TaxPercent, 0), A.ExemptPercent), 0)			THEN		1					-- Alicuota diferente
						WHEN		A.ExemptType					IS NOT NULL																THEN 
									CASE		
										WHEN	A.ExemptType					=			4
												OR
												ISNULL(A.ExemptPercent, 0)		<>			A.AlicuotaDocumento								THEN		1		
										ELSE																											0
									END																																		-- Exencion del impuesto / Tasa
						WHEN		ISNULL(A.ExemptPercent, 0)		<>	0																	THEN		1					-- Reduccion de tasa
						ELSE																									0
					END														AS	TasaDiferente 
					
FROM				(
					SELECT				IT.Company, IT.InvoiceNum, IT.InvoiceLine, IT.TaxCode, IT.RateCode, IT.TaxableAmt, IT.TaxAmt, IT.[Percent], 
										T.[Description], T.TaxPercent, T.RptCatCode, T.TipoDocumento,  
										IH.CustNum,
										TE.EffectiveFrom, TE.EffectiveTo, 
										TE.ExemptType, 
										CASE
											WHEN		TE.ExemptType		=		4					THEN		0
											ELSE																	TE.ExemptPercent
										END																AS	ExemptPercent, 
										CASE
											WHEN		IT.[Percent]		=		0					THEN		ROUND((IT.TaxAmt / IT.TaxableAmt) * 100, 5)
											ELSE																	IT.[Percent]
										END																AS	AlicuotaDocumento

					FROM				[CORPP11-EPIDB].EpicorERP.Erp.InvcTax			IT		WITH(NoLock)
					INNER JOIN			[CORPP11-EPIDB].EpicorERP.Erp.InvcHead			IH		WITH(NoLock)
						ON				IT.Company			=			IH.Company
						AND				IT.InvoiceNum		=			IH.InvoiceNum 
					INNER JOIN			(
										SELECT				ST.Company, ST.TaxCode, ST.[Description], ST.RptCatCode, 
															STRC.RateCode, STRC.DefaultRate, 
															TR.EffectiveFrom, TR.TaxPercent, 
															'NC'								AS	TipoDocumento
										FROM				[CORPP11-EPIDB].EpicorERP.Erp.SalesTax			ST			WITH(NoLock)
										INNER JOIN			[CORPP11-EPIDB].EpicorERP.Erp.SalesTRC			STRC		WITH(NoLock)
											ON				ST.Company					=			STRC.Company
											AND				ST.TaxCode					=			STRC.TaxCode
										INNER JOIN			(
															-- Solo se listan las tasas de impuestos vigentes al dia de la fecha
															SELECT				A.Company, A.TaxCode, A.RateCode, A.EffectiveFrom, A.TaxPercent 
															FROM				[CORPP11-EPIDB].EpicorERP.Erp.TaxRate			A			WITH(NoLock)
															INNER JOIN			(
																				SELECT				Company, TaxCode, RateCode, MAX(EffectiveFrom) AS EffectiveFrom 
																				FROM				[CORPP11-EPIDB].EpicorERP.Erp.TaxRate						WITH(NoLock) 
																				GROUP BY			Company, TaxCode, RateCode
																				)		B
																ON				A.Company			=			B.Company
																AND				A.TaxCode			=			B.TaxCode
																AND				A.RateCode			=			B.RateCode
																AND				A.EffectiveFrom		=			B.EffectiveFrom
															)			TR			
											ON				STRC.Company				=			TR.Company
											AND				STRC.TaxCode				=			TR.TaxCode
											AND				STRC.RateCode				=			TR.RateCode
										)		T
						ON				IT.Company					=			T.Company
						AND				IT.TaxCode					=			T.TaxCode
						AND				IT.RateCode					=			T.RateCode
					LEFT OUTER JOIN		[CORPP11-EPIDB].EpicorERP.Erp.TaxExempt			TE		WITH(NoLock)
						ON				TE.Key1						=			IH.CustNum
						AND				TE.Company 					=			IH.Company
						AND				TE.TaxCode					=			IT.TaxCode	
						AND				TE.RateCode					=			IT.RateCode
						AND				TE.RelatedToFile			=			'Customer'
						AND				TE.EffectiveFrom			<=			GETDATE()
						AND				TE.EffectiveTo				>=			GETDATE()
					--INNER JOIN			@InvoiceTable									INVT
					--	ON				INVT.Company				=			IT.Company			COLLATE SQL_Latin1_General_CP1_CI_AS
					--	AND				INVT.InvoiceNum				=			IT.InvoiceNum	
					--	AND				INVT.TipoDocumento			=			T.TipoDocumento
					
					WHERE				IT.Company				COLLATE SQL_Latin1_General_CP1_CI_AS	IN			(SELECT Company			FROM	@InvoiceTable)		
										AND IT.InvoiceNum												IN			(SELECT InvoiceNum		FROM	@InvoiceTable)
										AND T.TipoDocumento		COLLATE SQL_Latin1_General_CP1_CI_AS	IN			(SELECT TipoDocumento	FROM	@InvoiceTable)
										AND	IT.TaxAmt					<>			0

					)	A

GROUP BY			A.Company, A.InvoiceNum, A.TaxCode, A.RateCode, A.[Description], A.TaxPercent, A.RptCatCode, A.TipoDocumento, A.AlicuotaDocumento, 
					A.ExemptType, A.ExemptPercent  


    
GO

ALTER TABLE [RV].[RV_TBL_SIP_TAXES] CHECK CONSTRAINT [FK_RV_TBL_SIP_TAXES_DETALLE_COMPROBANTE]
GO
/****** Object:  StoredProcedure [RV].[PRC_ACTUALIZA_LINKS_NC]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE	PROCEDURE		[RV].[PRC_ACTUALIZA_LINKS_NC]

AS

DECLARE	@Dias	INT =	7



---------- Actualiza Sell Out y Carrier ---------- 

UPDATE		C
SET	C.nc_url = 'https://facturas.radiovictoria.com.ar/Invoice/DownloadMailPDF?guid=' + I.MailGUID
FROM		[PCDB].[dbo].[casos]									C
INNER JOIN	[RV_Facturas].[dbo].[Invoices]							I
	ON	C.nota_credito_debito	=	I.LegalNumber
WHERE			I.UpdateUtcTime							>					DATEADD(DAY,-@Dias,GETDATE())
	AND			C.nc_url			IS NOT NULL



----------- Actualiza Dif. de precios ----------- 

UPDATE			DP
SET				DP.nc_url								=					'https://facturas.radiovictoria.com.ar/Invoice/DownloadMailPDF?guid=' + I.MailGUID
FROM			[PCDB].[dbo].[casos_dif_precios]					DP
INNER JOIN		[RV_Facturas].[dbo].[Invoices]						I
	ON			DP.nota_credito_debito					=					I.LegalNumber
WHERE			I.UpdateUtcTime							>					DATEADD(DAY,-@Dias,GETDATE())
	AND			DP.nc_url			IS NOT NULL



----------- Actualiza Acuerdos comerciales ----------- 

UPDATE		AC
SET				AC.nc_url									=					'https://facturas.radiovictoria.com.ar/Invoice/DownloadMailPDF?guid=' + I.MailGUID
FROM			[PCDB].[dbo].[casos_acuerdos_comerciales]			AC
INNER JOIN		[RV_Facturas].[dbo].[Invoices]						I
	ON			AC.nota_credito_debito	=	I.LegalNumber
WHERE			I.UpdateUtcTime								>					DATEADD(DAY,-@Dias,GETDATE())
	AND			AC.nc_url			IS NOT NULL
GO
/****** Object:  StoredProcedure [RV].[RV_PRC_INSERTA_INTEGRACION_ACU]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE PROCEDURE [RV].[RV_PRC_INSERTA_INTEGRACION_ACU]

AS
--*/


-----------------------------------------------------------------------------------

DECLARE		@IVA		DECIMAL(5, 2)		=		1.21, 
			@Estado		INT					=		3						-- CAMBIAR A ESTADO 3 - Estado del caso: Aprobado

-----------------------------------------------------------------------------------

DECLARE		@IdCaso		INT					=		0							-- 0 Para que no aplique este filtro 

DECLARE		@IdCasoIni	INT, 
			@IdCasoFin	INT



IF			@IdCaso		=		0
			BEGIN		
					SELECT		@IdCasoIni		=		0, 
								@IdCasoFin		=		999999999
			END 
	ELSE
			BEGIN		
					SELECT		@IdCasoIni		=		@IdCaso, 
								@IdCasoFin		=		@IdCaso	
			END



-- Cabecera
DECLARE @TablaAux AS TABLE (
							Company				VARCHAR(5)
							,Tipo				VARCHAR(5)
							,id_caso			INT
							,GroupID			VARCHAR(8)
							,SoldToCustID		VARCHAR(30)
							,InvoiceRef			INT
							,InvRefLegNum		VARCHAR(20)
							,TermsCode			VARCHAR(5)
							,ShipToNum			VARCHAR(10)
							,TaxRegionCode		VARCHAR(50)
							)

INSERT INTO @TablaAux

		SELECT		'CO01'													AS		Company,
					'NC'													AS		Tipo,
					AC.id													AS		id_caso,
					'PCA' + CAST(AC.id	AS varchar)							AS		GroupID	,
					C.codigo												AS		SoldToCustID,
					ACD.nro_int												AS		InvoiceRef,
					ACD.factura_num_legal									AS		InvRefLegNum,
					'C1'													AS		TermsCode,
					ID.ShipToNum											AS		ShipToNum,
					'NC'											AS		TaxRegionCode
		FROM		[dbo].[casos_acuerdos_comerciales]			AC
		INNER JOIN	casos_acuerdos_comerciales_detalles			ACD
			ON	AC.id = ACD.id_caso_acuerdo_comercial
		INNER JOIN	[dbo].[clientes]							C
			ON	AC.id_cliente	=	C.id
		INNER JOIN	[CORPP11-EPIDB].EpicorErp.Erp.InvcDtl		ID		WITH(NoLock)
			ON		ID.Company		=	'CO01'
			AND		ID.InvoiceNum	=	ACD.nro_int
			AND		ID.UnitPrice	>	0						-- Este filtro aplica para AA-SPLIT. Filtra las UI y UE
		WHERE		AC.id_estado	=	@Estado
			AND		AC.nota_credito =	1
			AND			AC.id			BETWEEN		@IdCasoIni		AND		@IdCasoFin													--  SACAR	--
		GROUP BY	AC.id,C.codigo,ACD.nro_int,ACD.factura_num_legal,ID.ShipToNum



--/****************************************** INSERTA LOS DATOS EN EL ENCABEZADO *************************************************

INSERT INTO	RV.RV_TBL_SIP_ENCABEZADO_COMPROBANTE (Company,Tipo,GroupID,SoldToCustID,InvoiceRef,InvRefLegNum,TermsCode,Comentario,TipoCaso,id_caso,TaxRegionCode)

--********************************************************************************************************************************/


SELECT		Company									   
			,Tipo
			,GroupID
			,SoldToCustID
			,MAX(InvoiceRef)			AS		InvoiceRef
			,MAX(InvRefLegNum)			AS		InvRefLegNum
			,(	SELECT		TOP 1 TermsCode
				FROM		@TablaAux
				WHERE		InvoiceRef = MAX(T.InvoiceRef))		AS		TermsCode
			--,'Caso: '	+ CAST(id_caso	AS VARCHAR) + ' - Sell Out ' + T.Motivo	+ ' - ' + STUFF(		(SELECT ', ' + InvRefLegNum 
			,'Acuerdo Comercial (' +CAST(id_caso	AS VARCHAR) +') | ' +  STUFF(		(SELECT ', ' + InvRefLegNum
						FROM	@TablaAux 
						WHERE	GroupID	=	T.GroupID	FOR XML PATH('')), 1, 2, '')	 AS		Comentario
			,'AC'								AS		TipoCaso
			,MIN(id_caso)						AS		id_caso
			,TaxRegionCode
FROM		@TablaAux		T
GROUP BY	Company,Tipo,GroupID,SoldToCustID,id_caso,TaxRegionCode


--/****************************************** INSERTA LAS LINEAS DE DETALLE *************************************************

INSERT INTO RV.RV_TBL_SIP_DETALLE_COMPROBANTE (Company,TranNum,Linea,PartNum,UnidadN,Cantidad,Precio,ShipToNum)

--***************************************************************************************************************************/

SELECT		Company,
			TranNum,
			Linea,
			PartNum,
			UnidadN,
			Cantidad,
			Precio			AS		Precio,
			ShipToNum
			
FROM	(
			SELECT	'CO01'								AS		Company
					,EC.TranNum							
					,1									AS		Linea
					,PA.PartNum
					,AC.unidad_negocio					AS		UnidadN
					,1									AS		Cantidad
					,AC.monto_bonificacion/@IVA			AS		Precio
					,T.ShipToNum						AS		ShipToNum
			FROM		[dbo].[casos_acuerdos_comerciales]			AC
			INNER JOIN	casos_acuerdos_comerciales_detalles			ACD
				ON	AC.id = ACD.id_caso_acuerdo_comercial
			INNER JOIN	[RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE]	EC
				ON	EC.TipoCaso		=	'AC'
				AND	EC.id_caso		=	AC.id
			INNER JOIN RV.RV_TBL_PARTNUM_ACUERDOS						PA
				ON	PA.UnNeg = AC.unidad_negocio
				AND	PA.Carrier	=	0
				AND	PA.CYO	=	0
			INNER JOIN	@TablaAux									T
				ON	AC.id			=	T.id_caso
				AND	EC.InvoiceRef	=	T.InvoiceRef
			--GROUP BY EC.TranNum,AC.unidad_negocio,AC.monto_bonificacion,ship_num,C.id,CD.aporte_real
	)A

GROUP BY Company,TranNum,Linea,PartNum,UnidadN,Cantidad,ShipToNum,Precio


--/******************* ACTUALIZA EL ESTADO EN EL PORTAL *******************

UPDATE	[dbo].[casos_acuerdos_comerciales]
SET		id_estado =	5
WHERE	id	IN	(	SELECT		id_caso
					FROM		@TablaAux
					GROUP BY	id_caso)
--*************************************************************************/



GO
/****** Object:  StoredProcedure [RV].[RV_PRC_INSERTA_INTEGRACION_DP]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE PROCEDURE [RV].[RV_PRC_INSERTA_INTEGRACION_DP]
AS
--*/

DECLARE		@Company	VARCHAR(4)		=		'CO01'
DECLARE		@Estado		INT				=		4
--DECLARE @IVA DECIMAL(5, 2) = 1.21 


-- TABLA PARA AGRUPAR LOS DATOS DE LOS CASOS
DECLARE @TablaAux AS TABLE (
							Company				VARCHAR(5)
							,UnidadNeg			VARCHAR(5)
							,PartNum			VARCHAR(50)
							,Tipo				VARCHAR(5)
							,id_caso			INT
							,GroupID			VARCHAR(8)
							,SoldToCustID		VARCHAR(30)
							,InvoiceRef			INT
							,InvRefLegNum		VARCHAR(20)
							,TermsCode			VARCHAR(5)
							,TaxRegionCode		VARCHAR(50)
							,Consignataria		VARCHAR(5)
							,TaxCatID			VARCHAR(10)
							,CYO				BIT
							,PromInd			VARCHAR(10)
							,IVAAD				BIT
							,ExchangeRate		DECIMAL(20,10)	-- Tasa de cambio
							,Linea				INT
							,precio_total		DECIMAL(20,10)
							,ship_num			VARCHAR(10)
							)
INSERT INTO @TablaAux

	SELECT			@Company												AS		Company,
					DP.unidad_negocio										AS		UnidadNeg,
					DDP.Parte												AS		PartNum,
					CASE nc_nd	WHEN	'Credito'	THEN	'NC'
								ELSE	'ND'		END						AS		Tipo,
					DP.id													AS		id_caso,
					'PCD' + CAST(DP.id	AS varchar)							AS		GroupID	,
					codigo_cliente											AS		SoldToCustID,
					DP.nro_interno											AS		InvoiceRef,
					factura_legal_nro										AS		InvRefLegNum,
					--IH.TermsCode											AS		TermsCode,
					'C1'													AS		TermsCode,
					''														AS		TaxRegionCode,
					Character03												AS		Consignataria,
					--CASE 
					--WHEN	P.Prodcode = 'CEL' AND P.TaxCatID = 'CI051'	THEN	'CI031'					--Si es celular fabricado fuerzo la categoría de impuestos para que se calcule correctamente internos
					--ELSE	P.TaxCatID			END							AS		TaxCatID,
					CASE 
					WHEN	DP.fecha_factura	<	'05-21-2025'		THEN	'CI031'					--Si la fecha de la FC de referencia es anterior al cambio de alícuota de Imp Int fuerzo la categoría de impuestos para que se calcule correctamente internos
					ELSE	P.TaxCatID			END							AS		TaxCatID, 
					CASE	
					WHEN P.Company = Character03	THEN	0
					ELSE	1	END											AS		CYO,
					PUD.ShortChar09											AS		PromInd,
					dbo.RV_FN_IVAAD(@Company,DP.nro_interno)				AS		IVAAD,
					IH.ExchangeRate											AS		ExchangeRate,
					DDP.numero_linea										AS		Linea,
					DDP.precio_total										AS		precio_total,
					DDP.ship_num											AS		ship_num

		FROM		[dbo].[casos_dif_precios]						DP
		INNER JOIN		detalles_casos_dif_precios					DDP
			ON	DDP.id_caso_dif_precio	=	DP.id
			AND	DDP.deleted_at IS NULL
			AND	DDP.precio_total		<>	0

		INNER JOIN	[CORPP11-EPIDB].EpicorERP.Erp.Part				P		WITH(NoLock)		
			ON		P.Company	=	@Company
			AND		P.PartNum	=	DDP.parte COLLATE SQL_Latin1_General_CP1_CI_AS

		INNER JOIN	[CORPP11-EPIDB].EpicorERP.Erp.Part_UD			PUD		WITH(NoLock)
			ON		P.SysRowID = PUD.ForeignSysRowID

		INNER JOIN	[CORPP11-EPIDB].EpicorERP.Erp.InvcHead			IH		WITH(NoLock)
			ON		IH.Company		=	@Company
			AND		IH.InvoiceNum	=	DP.nro_interno
			
		WHERE		id_estado	=	@Estado



-- Declaro una tabla @Invoices en la cual ingreso las facturas a las cuáles se les va a hacer el descuento para verificar si hay cambio en los impuestos
DECLARE @Invoices dbo.InvoiceTableType;

INSERT INTO @Invoices (Company, InvoiceNum, TipoDocumento)
SELECT		DISTINCT Company, InvoiceRef, Tipo
FROM        @TablaAux


DECLARE     @Impuestos AS TABLE (   Company                         VARCHAR(10)
                                    ,InvoiceNum                     INT
                                    ,TaxCode                        VARCHAR(10)
                                    ,RateCode                       VARCHAR(10)
                                    ,RptCatCode                     VARCHAR(10)
                                    ,AlicuotaOriginal               DECIMAL(20,10)
                                )

INSERT INTO @Impuestos
SELECT      Company,InvoiceNum,TaxCode,RateCode,RptCatCode,AlicuotaDocumento
FROM        dbo.RV_FNC_PCDB_Control_Cambio_Tasas_Impuestos_Tabla(@Invoices)                             TI
WHERE       TasaDiferente               =           1



-- Cabecera
INSERT INTO	RV.RV_TBL_SIP_ENCABEZADO_COMPROBANTE (Company,Tipo,GroupID,SoldToCustID,InvoiceRef,InvRefLegNum,TermsCode,Comentario,TipoCaso,id_caso,TaxRegionCode,ExchangeRate)
		SELECT		Company,
					Tipo,
					GroupID	,
					SoldToCustID,
					InvoiceRef,
					InvRefLegNum,
					TermsCode,
					'(' + CAST(T.id_caso AS VARCHAR) + ') Diferencia de precio | '+  T.InvRefLegNum			AS		Comentario,
					'DP'																					AS		TipoCaso,
					id_caso,
					CASE T.IVAAD	
								WHEN	1	THEN		'NCP'
												ELSE	'NCSP'	END											AS		TaxRegionCode,
					CASE	T.ExchangeRate
							WHEN	1		THEN		NULL
							ELSE	T.ExchangeRate				END											AS		ExchangeRate
		FROM		@TablaAux	T
		GROUP BY Company, Tipo, GroupID	, SoldToCustID,	InvoiceRef,	InvRefLegNum, TermsCode, id_caso,IVAAD,T.ExchangeRate
		ORDER BY id_caso


--Lineas de detalle

INSERT INTO RV.RV_TBL_SIP_DETALLE_COMPROBANTE (Company,TranNum,Linea,PartNum,UnidadN,Cantidad,Precio,ShipToNum,Comentario,TaxCatID,XPartNum,AjusteTax)

SELECT		Company
			,TranNum
			,Linea	
			,PartNum
			,UnidadN
			,1					AS			Cantidad
			,SUM(Precio)		AS			Precio
			,ShipToNum
			,Comentario
			,TaxCatID
			,XPartNum
			,AjusteTax
FROM	(	
			SELECT		*
			FROM	(
						SELECT			@Company											AS		Company,
										EC.TranNum											AS		TranNum,
										T.id_caso											AS		Caso,
										T.Linea												AS		Linea,
										PDP.PartNum											AS		PartNum,
										T.UnidadNeg											AS		UnidadN,
										[dbo].[RV_FN_Calculo_Monto_Sin_Impuestos](@Company, T.InvoiceRef,T.Tipo,T.IVAAD,T.precio_total)/(1+ISNULL(I.AlicuotaOriginal,0)/100)		AS		Precio,
										ship_num											AS		ShipToNum,
										''													AS		Comentario,
										T.PartNum											AS		XPartNum,
										TaxCatID											AS		TaxCatID,
								/*		CASE 
											WHEN I.AlicuotaOriginal	IS NULL		THEN	0
											ELSE										1	END		AjusteTax */
										0													AS		AjusteTax

						FROM			@TablaAux									T

						INNER JOIN		[RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE]	EC
							ON	EC.TipoCaso			=	'DP'
							AND	EC.id_caso			=	T.id_caso

						INNER JOIN		[RV].[RV_TBL_PARTNUM_DIF_PRECIO]			PDP
							ON	PDP.Company			= T.Company
							AND PDP.Consignataria	= T.Consignataria
							AND	PDP.CYO				= T.CYO
							AND	PDP.PromInd			= T.PromInd
							AND	PDP.UnidadNeg		= T.UnidadNeg

						LEFT	JOIN	(
											SELECT		*
											FROM		@Impuestos		
											WHERE		RptCatCode      	=		   'IMPINT'		--Sólo considero impuestos internos
										)								I
							ON	EC.InvoiceRef		=	I.InvoiceNum
					)A

			GROUP BY Company, TranNum, Caso,Linea, PartNum, UnidadN, ShipToNum,Precio,Comentario,TaxCatID,XPartNum,AjusteTax
)	B
GROUP BY Company, TranNum, PartNum, UnidadN, ShipToNum,Comentario,TaxCatID,XPartNum,Linea,AjusteTax


--/*

-- Agrego los impuestos con diferencias --

INSERT INTO [RV].[RV_TBL_SIP_TAXES] (Company,TranNum,Linea,PartNum,TaxCode,RateCode,Porcentaje)

SELECT			EC.Company,
				EC.TranNum,
				DC.Linea,
				DC.PartNum,
				I.TaxCode,
				I.RateCode,
				I.AlicuotaOriginal
FROM			@TablaAux									T
INNER JOIN		[RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE]	EC
	ON	EC.TipoCaso			=	'DP'
	AND	EC.id_caso			=	T.id_caso
INNER JOIN		[RV].[RV_TBL_SIP_DETALLE_COMPROBANTE] 		DC
	ON	DC.TranNum			=	EC.TranNum
INNER JOIN		@Impuestos									I
	ON	I.InvoiceNum			=	EC.InvoiceRef
WHERE	DC.AjusteTax			=	1
	AND	RptCatCode				=	'IMPINT'  --Sólo considero impuestos internos

--*/


--/*
--Actualiza el estado en la tabla del Portal
UPDATE	[PCDB].[dbo].[casos_dif_precios]
SET		id_estado =	5
WHERE	id	IN	(	SELECT		id_caso
					FROM		@TablaAux
					GROUP BY	id_caso)

--					*/
GO
/****** Object:  StoredProcedure [RV].[RV_PRC_INSERTA_INTEGRACION_SELL_OUT]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--/*
CREATE PROCEDURE [RV].[RV_PRC_INSERTA_INTEGRACION_SELL_OUT]

AS	
--*/

-----------------------------------------------------------------------------------

DECLARE		--@IVA		DECIMAL(5, 2)		=		1.21, 
			@Estado		INT					=		4						-- CAMBIAR A ESTADO 4

-----------------------------------------------------------------------------------

DECLARE		@IdCaso		INT					=		0							-- 0 Para que no aplique este filtro 

DECLARE		@IdCasoIni	INT, 
			@IdCasoFin	INT


IF			@IdCaso		=		0
			BEGIN		
					SELECT		@IdCasoIni		=		0, 
								@IdCasoFin		=		999999999
			END 
	ELSE
			BEGIN		
					SELECT		@IdCasoIni		=		@IdCaso, 
								@IdCasoFin		=		@IdCaso	
			END

-----------------------------------------------------------------------------------

/* ///////////////////// CASOS DE SELL OUT //////////////////// */
 
DECLARE			@DetalleCasosInvoices TABLE
									(
									Company							VARCHAR(15)				COLLATE SQL_Latin1_General_CP1_CI_AS,  
									InvoiceNum						INT, 
									Id_Caso							INT, 
									Id_tipo							INT, 
									Id_Estado						SMALLINT, 
									TipoDocumento					VARCHAR(15)				COLLATE SQL_Latin1_General_CP1_CI_AS 
									)
 
-- Inserta múltiples registros en la tabla de control de casos y facturas 

INSERT INTO		@DetalleCasosInvoices (Company, InvoiceNum, Id_Caso, Id_tipo, Id_Estado, TipoDocumento)

SELECT			DISTINCT	
				CD.Empresa,	CF.nro_interno, C.Id, C.id_tipo, C.id_estado, 'NC'
FROM			[PCDB].[dbo].casos					C		WITH(NoLock)
INNER JOIN		[PCDB].[dbo].casos_detalles			CD		WITH(NoLock)
	ON			C.id			=			CD.id_caso
INNER JOIN		[PCDB].[dbo].casos_facturas			CF		WITH(NoLock)
	ON			C.id			=			CF.id_caso
WHERE			C.id_estado		=			@Estado 
	AND			C.id			BETWEEN		@IdCasoIni		AND		@IdCasoFin													--  SACAR	--
	--AND			CD.grupo_producto	<>		'TAB'

-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------

/*
SELECT			*
FROM			@DetalleCasosInvoices
ORDER BY		Id_Caso, InvoiceNum  
*/

-----------------------------------------------------------------------------------
-- Se calculan los impuestos relacionados con las facturas indicadas
-----------------------------------------------------------------------------------

DECLARE	 @InvcTaxTemp	TABLE
								(
								Company					VARCHAR(15)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								InvoiceNum				INT, 
								InvoiceLine				INT, 
								TaxCode					VARCHAR(15)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								RateCode				VARCHAR(15)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								TaxableAmt				DECIMAL(23,5), 
								TaxAmt					DECIMAL(23,5), 
								OrigTaxPercent			DECIMAL(23,5)
								)

INSERT INTO			@InvcTaxTemp

SELECT				IT.Company, IT.InvoiceNum, IT.InvoiceLine, IT.TaxCode, IT.RateCode, IT.TaxableAmt, IT.TaxAmt, IT.[Percent]
FROM				[CORPP11-EPIDB].EpicorERP.Erp.InvcTax			IT		WITH(NoLock)
WHERE EXISTS		(
					SELECT				*
					FROM				@DetalleCasosInvoices			DCI
						WHERE			IT.Company					=			DCI.Company
							AND			IT.InvoiceNum				=			DCI.InvoiceNum
					)

----------------------------------------------------------------------------

DECLARE	 @InvcHeadTemp	TABLE
								(
								Company					VARCHAR(15)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								InvoiceNum				INT, 
								CustNum					INT
								)

INSERT INTO			@InvcHeadTemp

SELECT				IH.Company, IH.InvoiceNum, IH.CustNum 
FROM				[CORPP11-EPIDB].EpicorERP.Erp.InvcHead			IH		WITH(NoLock)
WHERE EXISTS		(
					SELECT				*
					FROM				@DetalleCasosInvoices			DCI
						WHERE			IH.Company					=			DCI.Company
							AND			IH.InvoiceNum				=			DCI.InvoiceNum
					)

----------------------------------------------------------------------------

DECLARE	@DetalleImpuestosFacturas	TABLE
								(
								Company					VARCHAR(15)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								InvoiceNum				INT, 
								TaxCode					VARCHAR(15)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								RateCode				VARCHAR(15)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								TaxCodeDescription		VARCHAR(30)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								RptCatCode				VARCHAR(15)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								TipoDocumento			VARCHAR(15)		COLLATE SQL_Latin1_General_CP1_CI_AS, 
								AlicuotaDocumento		DECIMAL(23,5), 
								OrigTaxPercent			DECIMAL(23,5), 
								AlicuotaActual			DECIMAL(23,5), 
								TaxableAmt				DECIMAL(23,5), 
								TaxAmt					DECIMAL(23,5), 
								TasaDiferente			BIT
								)	
INSERT INTO			@DetalleImpuestosFacturas

SELECT				A.Company, A.InvoiceNum, A.TaxCode, A.RateCode, A.[Description], A.RptCatCode, 
					A.TipoDocumento, A.AlicuotaDocumento, A.OrigTaxPercent,  
					----------------------------------------------------------------------------
		--			A.ExemptType, A.ExemptPercent, A.TaxPercent, 
					----------------------------------------------------------------------------
					ISNULL(ISNULL(NULLIF(A.TaxPercent, 0), A.ExemptPercent), 0)		AS	AlicuotaActual, 
					SUM(TaxableAmt)													AS	TaxableAmt, 
					SUM(TaxAmt)														AS	TaxAmt,  
					CASE
						WHEN		A.AlicuotaDocumento				<>	ISNULL(ISNULL(NULLIF(A.TaxPercent, 0), A.ExemptPercent), 0)			THEN		1					-- Alicuota diferente
						WHEN		A.ExemptType					IS NOT NULL																THEN 
									CASE		
										WHEN	/*	
												A.ExemptType					=			4
												OR
												*/
												ISNULL(A.ExemptPercent, 0)		<>			A.AlicuotaDocumento								THEN		1		
										ELSE																											0
									END																																		-- Exencion del impuesto / Tasa
						WHEN		ISNULL(A.ExemptPercent, 0)		<>	0																	THEN		1					-- Reduccion de tasa
						ELSE																									0
					END														AS	TasaDiferente 					
FROM				(
					SELECT				IT.Company, IT.InvoiceNum, IT.InvoiceLine, IT.TaxCode, IT.RateCode, IT.TaxableAmt, IT.TaxAmt, IT.OrigTaxPercent, 
										T.[Description], T.TaxPercent, T.RptCatCode, T.TipoDocumento,  
										IH.CustNum,
										TE.EffectiveFrom, TE.EffectiveTo, 
										TE.ExemptType, 
										CASE
											WHEN		TE.ExemptType		=		4					THEN		0
											ELSE																	TE.ExemptPercent
										END																AS	ExemptPercent, 
										CASE
											WHEN		(
														IT.OrigTaxPercent		=		0		
														AND
														IT.TaxableAmt		<>		0
														)												THEN		ROUND((IT.TaxAmt / IT.TaxableAmt) * 100, 5)
											ELSE																	IT.OrigTaxPercent
										END																AS	AlicuotaDocumento
				 
					FROM				@InvcTaxTemp									IT		
					INNER JOIN			@InvcHeadTemp									IH	 
						ON				IT.Company			=			IH.Company
						AND				IT.InvoiceNum		=			IH.InvoiceNum 
					INNER JOIN			(
										SELECT				ST.Company, ST.TaxCode, ST.[Description], ST.RptCatCode, 
															STRC.RateCode, STRC.DefaultRate, 
															TR.EffectiveFrom, TR.TaxPercent, 
															'NC'								AS	TipoDocumento
										FROM				[CORPP11-EPIDB].EpicorERP.Erp.SalesTax			ST			WITH(NoLock)
										INNER JOIN			[CORPP11-EPIDB].EpicorERP.Erp.SalesTRC			STRC		WITH(NoLock)
											ON				ST.Company					=			STRC.Company
											AND				ST.TaxCode					=			STRC.TaxCode
										INNER JOIN			(
															-- Solo se listan las tasas de impuestos vigentes al dia de la fecha
															SELECT				A.Company, A.TaxCode, A.RateCode, A.EffectiveFrom, A.TaxPercent 
															FROM				[CORPP11-EPIDB].EpicorERP.Erp.TaxRate			A			WITH(NoLock)
															INNER JOIN			(
																				SELECT				Company, TaxCode, RateCode, MAX(EffectiveFrom) AS EffectiveFrom 
																				FROM				[CORPP11-EPIDB].EpicorERP.Erp.TaxRate						WITH(NoLock) 
																				GROUP BY			Company, TaxCode, RateCode
																				)		B
																ON				A.Company			=			B.Company
																AND				A.TaxCode			=			B.TaxCode
																AND				A.RateCode			=			B.RateCode
																AND				A.EffectiveFrom		=			B.EffectiveFrom
															)			TR			
											ON				STRC.Company				=			TR.Company
											AND				STRC.TaxCode				=			TR.TaxCode
											AND				STRC.RateCode				=			TR.RateCode
										)		T
						ON				IT.Company					=			T.Company
						AND				IT.TaxCode					=			T.TaxCode
						AND				IT.RateCode					=			T.RateCode
					LEFT OUTER JOIN		[CORPP11-EPIDB].EpicorERP.Erp.TaxExempt			TE		WITH(NoLock)
						ON				TE.Key1						=			IH.CustNum
						AND				TE.Company 					=			IH.Company
						AND				TE.TaxCode					=			IT.TaxCode	
						AND				TE.RateCode					=			IT.RateCode
						AND				TE.RelatedToFile			=			'Customer'
						AND				TE.EffectiveFrom			<=			GETDATE()
						AND				TE.EffectiveTo				>=			GETDATE()
					INNER JOIN			@DetalleCasosInvoices									DCI
						ON				DCI.Company					=			IT.Company			
						AND				DCI.InvoiceNum				=			IT.InvoiceNum	
						AND				DCI.TipoDocumento			=			T.TipoDocumento
			
					WHERE		/*		IT.Company					IN			(SELECT Company			FROM	@DetalleFacturasTipoDoc)		
						AND				IT.InvoiceNum				IN			(SELECT InvoiceNum		FROM	@DetalleFacturasTipoDoc)
						AND				T.TipoDocumento				IN			(SELECT TipoDocumento	FROM	@DetalleFacturasTipoDoc)
						AND		*/		IT.TaxAmt					<>			0
						--/************************************************************
						AND				IT.TaxCode					=			'IVAAD'
						--************************************************************/
					)	A


GROUP BY			A.Company, A.InvoiceNum, A.TaxCode, A.RateCode, A.[Description], A.TaxPercent, A.RptCatCode, A.TipoDocumento, A.AlicuotaDocumento, 
					A.ExemptType, A.ExemptPercent, A.OrigTaxPercent, A.TaxableAmt 

-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
 
-- Detalle de relaciones entre numeros de factura y productos 
DECLARE			@DetalleFacturasProductos AS TABLE 
									(
									id								INT, 
									id_caso							INT, 
									empresa							VARCHAR(15)				COLLATE SQL_Latin1_General_CP1_CI_AS, 
									fecha_factura					DATE, 
									parte							VARCHAR(150)			COLLATE SQL_Latin1_General_CP1_CI_AS,
									nro_interno						INT, 
									nro_legal						VARCHAR(50)				COLLATE SQL_Latin1_General_CP1_CI_AS,
									ship_num						VARCHAR(15)				COLLATE SQL_Latin1_General_CP1_CI_AS,
									terms_code						VARCHAR(15)				COLLATE SQL_Latin1_General_CP1_CI_AS, 
									cust_id							VARCHAR(30)				COLLATE SQL_Latin1_General_CP1_CI_AS, 
									cust_num						INT, 
									created_at						DATETIME, 
									updated_at						DATETIME 
									)

INSERT INTO		@DetalleFacturasProductos 

SELECT			*
FROM			[PCDB].[dbo].[casos_facturas]			CF		WITH(NoLock)
WHERE EXISTS	(
				SELECT			*
				FROM			@DetalleCasosInvoices								I
				WHERE			CF.Empresa			=			I.Company					COLLATE SQL_Latin1_General_CP1_CI_AS
					AND			CF.Id_Caso			=			I.Id_Caso
				)
	AND			CF.id_caso			BETWEEN		@IdCasoIni		AND		@IdCasoFin													--  SACAR	--

-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------

/*
SELECT			*
FROM			@DetalleFacturasProductos
ORDER BY		Id_Caso, nro_interno, Id
*/

-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
 
-- Ultimo numero de factura por cada uno de los productos 
DECLARE			@UltimaFacturaCaso AS TABLE 
								(
								id_caso								INT, 
								empresa								VARCHAR(15)				COLLATE SQL_Latin1_General_CP1_CI_AS, 
								fecha_factura						DATE, 
								nro_interno							INT, 
								nro_legal							VARCHAR(50)				COLLATE SQL_Latin1_General_CP1_CI_AS,
								ship_num							VARCHAR(15)				COLLATE SQL_Latin1_General_CP1_CI_AS,
								terms_code							VARCHAR(15)				COLLATE SQL_Latin1_General_CP1_CI_AS, 
								cust_id								VARCHAR(30)				COLLATE SQL_Latin1_General_CP1_CI_AS, 
								cust_num							INT 
								)

INSERT INTO		@UltimaFacturaCaso 

SELECT			A.id_caso, A.empresa, A.fecha_factura, A.nro_interno, A.nro_legal, A.ship_num, 
				A.terms_code, A.cust_id, A.cust_num 
FROM			@DetalleFacturasProductos						A 
INNER JOIN		(
				SELECT			id_caso, MAX(InvoiceNum) AS nro_interno
				FROM			@DetalleCasosInvoices
				GROUP BY		id_caso  
				)	B
	ON			A.id_caso		=			B.id_caso
	AND			A.nro_interno	=			B.nro_interno 
WHERE EXISTS	(
				SELECT			*
				FROM			@DetalleCasosInvoices								I
				WHERE			A.Id_Caso			=			I.Id_Caso
				)
	AND			A.id_caso			BETWEEN		@IdCasoIni		AND		@IdCasoFin													--  SACAR	--
GROUP BY		A.id_caso, A.empresa, A.fecha_factura, A.nro_interno, A.nro_legal, A.ship_num, A.terms_code, A.cust_id, A.cust_num 

-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------

/*
SELECT			*
FROM			@UltimaFacturaCaso
ORDER BY		Id_Caso 
*/

-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
 
-- Cabecera de tabla auxiliar de comprobantes 
DECLARE			@EncabezadoComprobanteTablaAux AS TABLE 
								(
								Company								VARCHAR(5),
								Tipo								VARCHAR(5),
								id_caso								INT,
								GroupID								VARCHAR(8),
								SoldToCustID						VARCHAR(30),
								InvoiceRef							INT,
								InvRefLegNum						VARCHAR(20),
								TermsCode							VARCHAR(5),
								Motivo								VARCHAR(50),
								FechaInicio							DATE,
								FechaFin							DATE,
								PartNum								VARCHAR(50),
								GrupoProducto						VARCHAR(20),
								IVAAD								BIT,
								ExchangeRate						DECIMAL(20,10), 
								AlicuotaOriginal					DECIMAL(20,10),
								TasaDiferente						BIT,
								TaxCode								VARCHAR(10),
								RateCode							VARCHAR(10),
								IVA									DECIMAL(20,10)
								)

INSERT INTO		@EncabezadoComprobanteTablaAux

SELECT			CD.empresa											AS				Company,
				'NC'												AS				Tipo,
				C.id												AS				id_caso,
				'PCS' + CAST(C.id AS varchar(15))					AS				GroupID,
				CL.codigo											AS				SoldToCustID,
				CF.nro_interno										AS				InvoiceRef,
				CF.nro_legal										AS				InvRefLegNum,
				CF.terms_code										AS				TermsCode,
				M.nombre											AS				Motivo,
				E.fecha_inicio										AS				FechaInicio,
				E.fecha_final										AS				FechaFin,
				CD.modelo											AS				PartNum,
				CASE CD.grupo_producto
					WHEN	'CEL'		THEN	CD.grupo_producto
					WHEN	'TV-LED'	THEN	CD.grupo_producto
					WHEN	'AA-SPLIT'	THEN	CD.grupo_producto
					WHEN	'TAB'		THEN	CD.grupo_producto
					ELSE	'OTROS'	
				END													AS				GrupoProducto,
				dbo.RV_FN_IVAAD(CD.empresa,MAX(CF.nro_interno))		AS				IVAAD,
				CASE	IH.ExchangeRate
						WHEN	1		THEN		NULL
						ELSE	IH.ExchangeRate				
				END													AS				ExchangeRate, 
				TI.AlicuotaDocumento								AS				AlicuotaOriginal,
				ISNULL(TI.TasaDiferente,0)							AS				TasaDiferente,
				MAX(TI.TaxCode)										AS				TaxCode,
				MAX(TI.RateCode)									AS				RateCode,
				CASE CD.grupo_producto
					WHEN	'TAB'		THEN	1.105
					ELSE						1.21		END			AS				IVA

FROM			[PCDB].[dbo].[casos]					C		WITH(NoLock)
INNER JOIN		[PCDB].[dbo].[casos_detalles]			CD		WITH(NoLock)
	ON			C.id			=			CD.id_caso
INNER JOIN		[PCDB].[dbo].[eventos]					E		WITH(NoLock)
	ON			C.id_evento		=			E.id
INNER JOIN		[PCDB].[dbo].[motivos]					M		WITH(NoLock)
	ON			E.id_motivo		=			M.id
INNER JOIN		[PCDB].[dbo].[clientes]					CL		WITH(NoLock)
	ON			C.id_cliente	=			CL.id
INNER JOIN		[PCDB].[dbo].[casos_facturas]			CF		WITH(NoLock)
	ON			CD.id_caso		=			CF.id_caso
INNER JOIN		[CORPP11-EPIDB].EpicorERP.Erp.InvcHead	IH		WITH(NoLock)
	ON			IH.Company		=			CD.empresa					COLLATE SQL_Latin1_General_CP1_CI_AS
	AND			IH.InvoiceNum	=			CF.nro_interno

LEFT OUTER JOIN	@DetalleImpuestosFacturas				TI
	ON			CD.Empresa		=			TI.Company					COLLATE SQL_Latin1_General_CP1_CI_AS
	AND			CF.nro_interno	=			TI.InvoiceNum

WHERE EXISTS	(
				SELECT			*
				FROM			@DetalleCasosInvoices								I
				WHERE			C.id				=			I.Id_Caso
				)
	AND 		C.id 			BETWEEN		@IdCasoIni		AND		@IdCasoFin													--  SACAR	--
GROUP BY		CD.empresa, C.id, CL.codigo, CF.nro_interno, CF.nro_legal, CF.terms_code,M.nombre,
				E.fecha_inicio, E.fecha_final, CD.modelo, IH.ExchangeRate, CD.grupo_producto, 
				TI.AlicuotaDocumento, TI.TasaDiferente 
			
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------

--/**********************************************************************************

INSERT INTO	RV.RV_TBL_SIP_ENCABEZADO_COMPROBANTE	(Company, Tipo, GroupID, SoldToCustID, InvoiceRef, InvRefLegNum, TermsCode, Comentario, TipoCaso, id_caso, ExchangeRate, TaxRegionCode)

--**********************************************************************************/

SELECT			A.Company, A.Tipo, A.GroupID, A.SoldToCustID, A.InvoiceRef, A.InvRefLegNum, 
				'C1'										AS				TermsCode,
				''											AS				Comentario,
				'SO'										AS				TipoCaso,
				A.id_caso, A.ExchangeRate, 
				CASE	A.IVAAD	
					WHEN	1	THEN	'NCIA'
					ELSE				'NC'	
				END											AS		TaxRegionCode
FROM			@EncabezadoComprobanteTablaAux		A
INNER JOIN		(
				SELECT			Id_caso, MAX(InvoiceRef) AS InvoiceRef
				FROM			@EncabezadoComprobanteTablaAux		ECA
				WHERE EXISTS	(
								SELECT			*
								FROM			@UltimaFacturaCaso					UFC
								WHERE			ECA.InvoiceRef			=			UFC.nro_interno
								)
				GROUP BY		Id_caso
				)		B
	ON			A.Id_caso			=			B.Id_caso
	AND			A.InvoiceRef		=			B.InvoiceRef
GROUP BY		A.Company, A.Tipo, A.GroupID, A.SoldToCustID, A.InvoiceRef, A.InvRefLegNum, A.id_caso, A.ExchangeRate, A.IVAAD

-----------------------------------------------------------------------------------

--/**********************************************************************************

INSERT INTO	RV.RV_TBL_SIP_DETALLE_COMPROBANTE		(Company, TranNum, Linea, PartNum, UnidadN, Cantidad, Precio, ShipToNum, Comentario, AjusteTax)

--**********************************************************************************/

SELECT			A.Company,
				A.TranNum,
	--			A.id,
				ROW_NUMBER() OVER (PARTITION BY A.TranNum ORDER BY (SELECT NULL)) AS				Linea,		--Me determina el número de línea autoincrementalmente por cada TranNum
				A.PartNum,
				A.UnidadN,
				A.Cantidad,
				SUM(A.Aporte)														AS				Aporte,
				A.ShipToNum,
				A.Comentario,
				A.AjusteTax
FROM			( 
				SELECT			CD.empresa									AS				Company,
								EC.TranNum,
								CD.id,											
								PSO.PartNum,
								unidad_negocio								AS		UnidadN,
								1											AS		Cantidad,
								T.TasaDiferente								AS		AjusteTax, 
								----------------------------------------------------------------------
								CASE		EC.TaxRegionCode	
												WHEN		'NCIA'	THEN	(
																			(ISNULL(CD.aporte_real, CD.aporte_real_c_iva)) / (T.IVA + [dbo].[RV_FN_IVAAD_PORCENTAJE] (CD.empresa, EC.InvoiceRef, 1))
																			)
												ELSE						(ISNULL(CD.aporte_real,aporte_real_c_iva) / T.IVA)	
								END											AS		Aporte,	
								----------------------------------------------------------------------
								(
								SELECT			TOP 1 CF.ship_num	
								FROM			casos_facturas						CF		WITH(NoLock)
								WHERE			CF.nro_interno			=			EC.InvoiceRef
								)											AS		ShipToNum, 
								----------------------------------------------------------------------
								'(' + CAST(C.id	AS VARCHAR (30)) + ') ' +
								T.Motivo + ' | ' + CAST(MIN(T.FechaInicio) AS VARCHAR (30)) + ' al '+ CAST(MAX(T.FechaFin) AS VARCHAR (30)) + ' | ' +  
								STUFF	(
											(
											SELECT			', ' + ECTA.InvRefLegNum
											FROM			@EncabezadoComprobanteTablaAux		ECTA
											WHERE			ECTA.GroupID			=			T.GroupID
											GROUP BY		ECTA.InvRefLegNum	FOR XML PATH('')
											), 1, 2, ''
										) + 	' | ' + 
								STUFF	(
											(
											SELECT			', ' + ECTA.PartNum
											FROM			@EncabezadoComprobanteTablaAux		ECTA
											WHERE			ECTA.GroupID			=			T.GroupID
											GROUP BY		ECTA.PartNum	FOR XML PATH('')
											), 1, 2, ''
										)									AS		Comentario
								----------------------------------------------------------------------
 
				FROM			[PCDB].[dbo].[casos]								C		WITH(NoLock)
				INNER JOIN		[PCDB].[dbo].[casos_detalles]						CD		WITH(NoLock)
					ON			C.id				=				CD.id_caso
				INNER JOIN		[PCDB].[dbo].[eventos]								E		WITH(NoLock)
					ON			C.id_evento			=				E.id
				INNER JOIN		[PCDB].[RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE]		EC		WITH(NoLock)
					ON			EC.id_caso			=				C.id
					AND			EC.TipoCaso			=				'SO'
				INNER JOIN		@EncabezadoComprobanteTablaAux						T
					ON			T.id_caso			=				C.id
				--/*************************************************************
					AND			T.PartNum			=				CD.Modelo  
				--*************************************************************/
				INNER JOIN		[PCDB].[RV].[RV_TBL_PARTNUM_SELL_OUT]				PSO		WITH(NoLock)
					ON			PSO.UnidadNeg		=				E.unidad_negocio
					AND			PSO.Moneda			=				C.id_tipo							-- 1:Pesos / 2:Dólares
					AND			PSO.GrupoProd		=				T.GrupoProducto
				WHERE			C.id				IN				(	
																	SELECT			id_caso
																	FROM			@EncabezadoComprobanteTablaAux
																	)
					AND			T.InvoiceRef		=				EC.InvoiceRef		--con esto tomo solamente la FC que consideré en el encabezado
					AND			CD.unidades_vendidas >				0
				GROUP BY		CD.empresa, EC.TranNum, CD.id, PSO.PartNum,unidad_negocio, C.id, CD.aporte_real, T.GroupID, T.Motivo, EC.TaxRegionCode, 
								EC.InvoiceRef, T.TasaDiferente, CD.aporte_real_c_iva,T.IVA
				) A

GROUP BY		A.Company, A.TranNum, A.PartNum, A.UnidadN, A.Cantidad, A.ShipToNum, A.Comentario, A.AjusteTax

--/**********************************************************************************

INSERT INTO	 [RV].[RV_TBL_SIP_TAXES]		(Company, TranNum, Linea, PartNum, TaxCode,RateCode, Porcentaje)

--**********************************************************************************/

			SELECT			T.Company, 
							EC.TranNum,
							DC.Linea,
							DC.PartNum,
							T.TaxCode,
							T.RateCode,
							T.AlicuotaOriginal							AS			Porcentaje
			FROM			@EncabezadoComprobanteTablaAux			T
			INNER JOIN		[PCDB].[RV].[RV_TBL_SIP_ENCABEZADO_COMPROBANTE]		EC		WITH(NoLock)
				ON			EC.id_caso				=					T.id_caso
				AND			EC.TipoCaso				=					'SO'
			INNER JOIN		[PCDB].RV.RV_TBL_SIP_DETALLE_COMPROBANTE			DC		WITH(NoLock)
				ON			EC.TranNum				=					DC.TranNum
			WHERE			T.TasaDiferente			=					1
			GROUP BY		T.Company,	EC.TranNum,	DC.Linea,	DC.PartNum,	T.TaxCode,	T.RateCode,	T.AlicuotaOriginal
 
--/*

--Actualiza el estado en la tabla del Portal

UPDATE			[PCDB].[dbo].[casos]
SET				id_estado				=					5
WHERE			id						IN					(
															SELECT			id_caso
															FROM			@EncabezadoComprobanteTablaAux
															GROUP BY		id_caso
															)
 
--*/

-----------------------------------------------------------------------------------
GO
/****** Object:  StoredProcedure [RV].[RV_PRC_SIP_ACTUALIZA_ESTADO_PC]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--/*
CREATE PROCEDURE [RV].[RV_PRC_SIP_ACTUALIZA_ESTADO_PC]	(	
																@Company nvarchar(5),
																@GroupID nvarchar(8)																
															)
AS
--*/

/*
DECLARE 
	@Company nvarchar(5) = 'CO01',
    @GroupID nvarchar(8) = 'PCS12654'
--*/

SELECT
				E.Company, 
				E.TranNum,
				D.Linea, 
				D.PartNum, 
				D.UnidadN, 
				CASE							
							WHEN			COUNT(W.TranNumDetalle) OVER (PARTITION BY D.Company, D.TranNum) = COUNT(*) OVER (PARTITION BY D.Company, D.TranNum, W.TranNumDetalle) 
										AND		
											H.TranNumEncabezado IS NOT NULL 
										AND
												(
														D.AjusteTax			= 0
												AND	
													
														T.ValidaManualTax	is null														
												)
											OR
												(
														D.AjusteTax			= 1
												AND	
													
														T.ValidaManualTax	= 1													
												)
							THEN		'Integrado'

							WHEN		D.Linea IS NULL
							THEN		'FaltaLinea'
							
							WHEN		G.GroupID IS NULL
							THEN		'No se pudo crear grupo'
							
							WHEN		H.InvoiceNum IS NULL AND H.TranNumEncabezado IS NULL
							THEN		'Error el encabezado'
							
							WHEN		H.InvoiceNum IS NOT NULL AND W.POLine IS NULL
							 THEN		'Error en la linea'
							--/*
							WHEN		(
											T.ValidaManualTax	= 0
										AND
											D.AjusteTax			= 1
										)
										OR
										(
											T.ValidaManualTax	= 0
										AND
											D.AjusteTax			= 0

										AND T.Errores	is not null
										)
							THEN		LEFT (Concat('Error al modificar Tax ( ',Errores,')'),50)
							--*/
							
				END AS Estado,
				G.GroupID AS GroupID,
				H.InvoiceNum
				--,T.*
FROM 
				[PCDB].RV.RV_TBL_SIP_ENCABEZADO_COMPROBANTE E
INNER JOIN		[PCDB].RV.RV_TBL_SIP_DETALLE_COMPROBANTE D 
ON				E.Company		=		D.Company 
AND				E.TranNum		=		D.TranNum
LEFT JOIN (
						SELECT
									HD.Company COLLATE Modern_Spanish_CI_AS		AS Company,
									HD.InvoiceNum								AS InvoiceNum,
									HD.GroupID COLLATE Modern_Spanish_CI_AS		AS GroupID,
									CAST(SUBSTRING(HD.PONum COLLATE Modern_Spanish_CI_AS, PATINDEX('%PC-%', HD.PONum COLLATE Modern_Spanish_CI_AS) + 3, LEN(HD.PONum) - PATINDEX('%PC-%', HD.PONum COLLATE Modern_Spanish_CI_AS) - 2) AS int) AS TranNumEncabezado,
									HD.PoNum COLLATE Modern_Spanish_CI_AS AS PoNum
						FROM		[CORPP11-EPIDB].[EpicorERP].dbo.InvcHead HD
						WHERE
									HD.InvoiceType		=		'MIS' 
						AND			HD.PoNum			LIKE	'PC-%'
						------------
						--UNION ALL
						------------
						--SELECT
						--						HD.Company COLLATE Modern_Spanish_CI_AS		AS Company,
						--						HD.InvoiceNum								AS InvoiceNum,
						--						HD.GroupID COLLATE Modern_Spanish_CI_AS		AS GroupID,
						--						CAST(SUBSTRING(HD.PONum COLLATE Modern_Spanish_CI_AS, PATINDEX('%PC-%', HD.PONum COLLATE Modern_Spanish_CI_AS) + 3, LEN(HD.PONum) - PATINDEX('%PC-%', HD.PONum COLLATE Modern_Spanish_CI_AS) - 2) AS int) AS TranNumEncabezado,
						--						HD.PoNum COLLATE Modern_Spanish_CI_AS AS PoNum
						--FROM					[CHILEPIDB].[EpicorPilot11100].dbo.InvcHead HD
						--WHERE					
						--						HD.InvoiceType		=		'MIS' 
						--AND						HD.PoNum			LIKE	'PC-%'
		) H 
ON				E.Company		=		H.Company 
AND				E.TranNum		=		H.TranNumEncabezado
LEFT JOIN (
						SELECT
												HD.Company COLLATE Modern_Spanish_CI_AS			AS Company,
												HD.InvoiceNum 									AS InvoiceNum,
												CAST(SUBSTRING(DT.POLine COLLATE Modern_Spanish_CI_AS, PATINDEX('%PC-%', DT.POLine COLLATE Modern_Spanish_CI_AS) + 3, LEN(DT.POLine) - PATINDEX('%PC-%', DT.POLine COLLATE Modern_Spanish_CI_AS) - 2) AS int) AS TranNumDetalle,
												DT.POLine COLLATE Modern_Spanish_CI_AS			AS POLine,
												DT.InvoiceLine AS InvoiceLine, 
												DT.PartNum COLLATE Modern_Spanish_CI_AS			AS PartNum,
												DT.ShiptoNum COLLATE Modern_Spanish_CI_AS		AS ShiptoNum,
												DT.SellingShipQty								AS SellingShipQty,
												DT.InvoiceComment COLLATE Modern_Spanish_CI_AS	AS InvoiceComment							
						FROM					[CORPP11-EPIDB].[EpicorERP].dbo.InvcHead HD
						LEFT JOIN				[CORPP11-EPIDB].[EpicorERP].dbo.InvcDtl DT 
						ON						HD.Company		=		DT.Company 
						AND						HD.InvoiceNum	=		DT.InvoiceNum
						WHERE
												HD.InvoiceType		=		'MIS' 
						AND						DT.POLine			LIKE	'PC-%'
						------------
						--UNION ALL
						------------
						--SELECT
						--						HD.Company COLLATE Modern_Spanish_CI_AS			AS Company,
						--						HD.InvoiceNum									AS InvoiceNum,
						--						CAST(SUBSTRING(DT.POLine COLLATE Modern_Spanish_CI_AS, PATINDEX('%PC-%', DT.POLine COLLATE Modern_Spanish_CI_AS) + 3, LEN(DT.POLine) - PATINDEX('%PC-%', DT.POLine COLLATE Modern_Spanish_CI_AS) - 2) AS int) AS TranNumDetalle,
						--						DT.POLine COLLATE Modern_Spanish_CI_AS			AS POLine,
						--						DT.InvoiceLine AS InvoiceLine, 
						--						DT.PartNum COLLATE Modern_Spanish_CI_AS			AS PartNum,
						--						DT.ShiptoNum COLLATE Modern_Spanish_CI_AS		AS ShiptoNum,
						--						DT.SellingShipQty								AS SellingShipQty,
						--						DT.InvoiceComment COLLATE Modern_Spanish_CI_AS	AS InvoiceComment
						--FROM					[CHILEPIDB].[EpicorPilot11100].dbo.InvcHead HD
						--LEFT JOIN				[CHILEPIDB].[EpicorPilot11100].dbo.InvcDtl DT 
						--ON						HD.Company		=		DT.Company 
						--AND						HD.InvoiceNum	=		DT.InvoiceNum
						--WHERE
						--						HD.InvoiceType	=		'MIS' 
						--AND						DT.POLine		LIKE	'PC-%'
		) W 
ON				D.Company		=		W.Company 
AND				D.TranNum		=		W.TranNumDetalle 
AND				D.PartNum		=		W.PartNum
AND				D.Comentario	=		W.InvoiceComment

LEFT JOIN (
						SELECT
												Company COLLATE Modern_Spanish_CI_AS AS Company,
												GroupID COLLATE Modern_Spanish_CI_AS AS GroupID

						FROM					[CORPP11-EPIDB].[EpicorERP].dbo.InvcGrp
						WHERE
												GroupID			=		@GroupID 
						AND						CreatedBy		=		'Usr_TRANSFER'
						------------
						--UNION ALL
						------------
						--SELECT
						--						Company COLLATE Modern_Spanish_CI_AS AS Company,
						--						GroupID COLLATE Modern_Spanish_CI_AS AS GroupID

						--FROM					[CHILEPIDB].[EpicorPilot11100].dbo.InvcGrp
						--WHERE
						--						GroupID			=		@GroupID 
						--AND						CreatedBy		=		'Usr_TRANSFER'
			) G 
ON				E.Company		=		G.Company
	--Agrego validacion de modificado de Taxes

LEFT JOIN	(
				SELECT		TX.Company,	
							TX.TranNum,
							
							-- Si todas las líneas tienen ManualTax = 1 entonces TRUE, si alguna no, entonces FALSE
							CASE 
								WHEN	MIN(CAST(ISNULL(IT.ManualTax, 0) AS INT)) = 1 
								THEN	CAST(1 AS bit)
								
								ELSE	CAST(0 AS bit)
							END AS ValidaManualTax,

							-- Cadena con los errores: Company-TranNum-Linea-TaxCode-RateCode
							STRING_AGG(
								CASE 
									WHEN ISNULL(IT.ManualTax, 0) <> 1 
									THEN CONCAT(TX.Company, '-', TX.TranNum, '-', TX.Linea, '-', TX.TaxCode, '-', TX.RateCode)
									ELSE NULL
								END,
								'; '
							) AS Errores

				FROM		[PCDB].RV.RV_TBL_SIP_TAXES TX
				LEFT JOIN	(

								SELECT
											IT.Company COLLATE Modern_Spanish_CI_AS			AS Company,
											IT.InvoiceNum 		AS InvoiceNum,
											CAST(SUBSTRING(DT.POLine COLLATE Modern_Spanish_CI_AS, 
												PATINDEX('%PC-%', DT.POLine COLLATE Modern_Spanish_CI_AS) + 3, 
												LEN(DT.POLine) - PATINDEX('%PC-%', DT.POLine COLLATE Modern_Spanish_CI_AS) - 2) 
												AS int)												AS TranNumDetalle,
											IT.InvoiceLine 		AS InvoiceLine,
											IT.TaxCode COLLATE Modern_Spanish_CI_AS			AS TaxCode,
											IT.RateCode COLLATE Modern_Spanish_CI_AS		AS RateCode,
											IT.[Manual]										AS ManualTax

								FROM		[CORPP11-EPIDB].[EpicorERP].dbo.InvcHead HD
								LEFT JOIN	[CORPP11-EPIDB].[EpicorERP].dbo.InvcDtl DT 
								ON			HD.Company		=		DT.Company 
								AND			HD.InvoiceNum	=		DT.InvoiceNum

								LEFT JOIN	[CORPP11-EPIDB].[EpicorERP].ERP.InvcTax IT
								ON			IT.Company		=		DT.Company
								AND			IT.InvoiceNum	=		DT.InvoiceNum
								AND			IT.InvoiceLine	=		DT.InvoiceLine		

								WHERE		HD.InvoiceType	=		'MIS' 
								AND			DT.POLine		LIKE	'PC-%'

							) IT
				ON			IT.Company			=		TX.Company
				AND			IT.TranNumDetalle	=		TX.TranNum
				AND			IT.InvoiceLine		=		TX.Linea
				AND			IT.TaxCode			=		TX.TaxCode
				AND			IT.RateCode			=		TX.RateCode


				GROUP BY	TX.Company, TX.TranNum


			)		AS T
ON			T.Company			=				W.Company			
AND			T.TranNum			=				W.TranNumDetalle

WHERE			
				e.Company		=		@Company
AND				E.Estado		=		'Pendiente'
ORDER BY		D.TranNum, D.Linea

GO
/****** Object:  StoredProcedure [RV].[RV_PRC_SIP_JOB_ACTUALIZA_ESTADO_PC]    Script Date: 23/1/2026 13:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--/*
CREATE PROCEDURE [RV].[RV_PRC_SIP_JOB_ACTUALIZA_ESTADO_PC]	
AS
--*/

BEGIN

    SET NOCOUNT ON;

    BEGIN TRY


				DECLARE		@TablaTemporal	TABLE	(	
														Company					VARCHAR(10),
														Tipo					VARCHAR(10),
														GroupoAsignado			VARCHAR(50),
														TipoCaso				VARCHAR(20),
														id_caso					INT,
														TranNum					INT,
														Linea					INT,
														PartNum					VARCHAR(50),
														Estado					VARCHAR(50),
														EliminadoE				BIT,
														Eliminado				BIT,														
														id_estado				INT,
														nota_credito_debito		VARCHAR(50),
														Posted					BIT,														
														LegalNumber				VARCHAR(50),
														New_ID_Estado			INT,
														EstadoC					VARCHAR(50),
														Fecha					DATETIME,
														InvoiceNum				INT
													)

				INSERT INTO @TablaTemporal


				SELECT			
								Z.Company, 
								Z.Tipo, 
								Z.GroupoAsignado, 
								Z.TipoCaso,
								Z.id_caso, 
								Z.TranNum,
								Z.Linea,
								Z.PartNum, 
								Z.Estado,
								Z.EliminadoE, 
								Z.Eliminado,
								Z.id_estado,
								Z.nota_credito_debito,
								Z.Posted,								
								Z.LegalNumber,
								Z.New_ID_Estado,
								Z.EstadoC,
								Z.Fecha,
								Z.InvoiceNum
								
				FROM
				
								(
				
								SELECT			X.Company, 
												X.Tipo, 
												X.GroupoAsignado, 
												X.TipoCaso,
												X.id_caso, 
												X.TranNum,
												X.Linea,
												X.PartNum, 
												X.Estado,
												X.EliminadoE, 
												X.Eliminado,
												Y.id_estado,
												Y.nota_credito_debito,
												H.Posted,												
												H.LegalNumber,
												
												CASE
														WHEN 
																		X.Estado	=	'Pendiente'
														AND				H.Posted	=	0
														THEN			5
				
														WHEN 
																		X.Estado	=	'Integrado'
														AND				H.Posted	=	0	
														THEN			6
														
														WHEN
																		X.Estado	=	'Integrado'
														AND				H.Posted	=	1
														AND				x.TipoCaso	in ('DP','AC')
														THEN			8

														WHEN
																		X.Estado	=	'Integrado'
														AND				H.Posted	=	1
														AND				x.TipoCaso	in ('SO')
														THEN			12

														WHEN			X.Estado	NOT IN ('Pendiente','Integrado')
														AND				x.TipoCaso	in ('DP','AC')
														OR				(
																			X.Eliminado		=	1
																		OR
																			X.EliminadoE	=	1
																		)
														THEN			9
				
														WHEN			X.Estado	NOT IN ('Pendiente','Integrado')
														AND				x.TipoCaso	in ('SO')
														OR				(
																			X.Eliminado		=	1
																		OR
																			X.EliminadoE	=	1
																		)
														THEN			13
				
														ELSE			0
												END											AS New_ID_Estado,
				
												CASE
														WHEN 
																		X.Estado	=	'Pendiente'
														AND				H.Posted	=	0
														THEN			'En Integracion'
				
														WHEN 
																		X.Estado	=	'Integrado'
														AND				H.Posted	=	0	
														THEN			'En posteo'
				
														WHEN
																		X.Estado	=	'Integrado'
														AND				H.Posted	=	1
														THEN			'Finalizado'
				
														WHEN			X.Estado	NOT IN ('Pendiente','Integrado')
														OR				(
																			X.Eliminado		=	1
																		OR
																			X.EliminadoE	=	1
																		)
														THEN			X.Estado
				
														WHEN			(
																			X.Eliminado		=	1
																		OR
																			X.EliminadoE	=	1
																		)
														THEN			'Eliminado'
														ELSE			'SIN ESTADO'
												END											AS EstadoC,
												GETDATE()									AS Fecha,
												H.InvoiceNum
								FROM			(
													SELECT				E.Company, E.Tipo, E.GroupoAsignado, E.TipoCaso,id_caso, E.TranNum,
																		D.Linea,D.PartNum, D.Estado, ISNULL(E.Eliminado,0) AS EliminadoE, ISNULL(D.Eliminado, 0) AS Eliminado
													FROM				RV.RV_TBL_SIP_ENCABEZADO_COMPROBANTE	E
													INNER JOIN			RV.RV_TBL_SIP_DETALLE_COMPROBANTE		D 
													ON					E.Company		=		D.Company 
													AND					E.TranNum		=		D.TranNum
													WHERE				
																		E.Estado		<>		'Pendiente'
													OR					D.Estado		<>		'Pendiente'
												)						X
								INNER JOIN		(
													SELECT				'SO' AS Tabla, ID AS id_caso, id_estado , nota_credito_debito, NC_INTERNO
													FROM				[dbo].[casos]
													WHERE				id_estado		in		(5,6,13)
				
													UNION ALL
				
													SELECT				'DP' AS Tabla, ID AS id_caso, id_estado  , nota_credito_debito, NC_INTERNO
													FROM				[dbo].[casos_dif_precios]
													WHERE				id_estado		in		(5,6,9)
													
													UNION ALL
													
													SELECT				'AC' AS Tabla, ID AS id_caso, id_estado , nota_credito_debito, NC_INTERNO 
													FROM				[dbo].[casos_acuerdos_comerciales]
													WHERE				id_estado		in		(5,6,9)
												)						Y
								ON				X.TipoCaso		=		Y.Tabla
								AND				X.id_caso		=		y.id_caso
								LEFT JOIN (
													SELECT
																HD.Company COLLATE Modern_Spanish_CI_AS		AS Company,
																HD.InvoiceNum								AS InvoiceNum,
																HD.GroupID COLLATE Modern_Spanish_CI_AS		AS GroupID,
																CAST(SUBSTRING(HD.PONum COLLATE Modern_Spanish_CI_AS, PATINDEX('%PC-%', HD.PONum COLLATE Modern_Spanish_CI_AS) + 3, LEN(HD.PONum) - PATINDEX('%PC-%', HD.PONum COLLATE Modern_Spanish_CI_AS) - 2) AS int) AS TranNumEncabezado,
																HD.PoNum COLLATE Modern_Spanish_CI_AS AS PoNum,
																HD.Posted,
																HD.LegalNumber COLLATE Modern_Spanish_CI_AS AS LegalNumber
													FROM		[CORPP11-EPIDB].[EpicorERP].dbo.InvcHead HD
													WHERE
																HD.InvoiceType		=		'MIS' 
													AND			HD.PoNum			LIKE	'PC-%'
													AND			HD.EntryPerson		='Usr_TRANSFER'
													------------
													--UNION ALL
													------------
													--SELECT
													--						HD.Company COLLATE Modern_Spanish_CI_AS		AS Company,
													--						HD.InvoiceNum								AS InvoiceNum,
													--						HD.GroupID COLLATE Modern_Spanish_CI_AS		AS GroupID,
													--						CAST(SUBSTRING(HD.PONum COLLATE Modern_Spanish_CI_AS, PATINDEX('%PC-%', HD.PONum COLLATE Modern_Spanish_CI_AS) + 3, LEN(HD.PONum) - PATINDEX('%PC-%', HD.PONum COLLATE Modern_Spanish_CI_AS) - 2) AS int) AS TranNumEncabezado,
													--						HD.PoNum COLLATE Modern_Spanish_CI_AS AS PoNum,
													--						HD.Posted,
													--						HD.LegalNumber COLLATE Modern_Spanish_CI_AS AS LegalNumber
													--FROM					[CHILEPIDB].[EpicorLive11100].dbo.InvcHead HD
													--WHERE					
													--						HD.InvoiceType		=		'MIS' 
													--AND						HD.PoNum			LIKE	'PC-%'
													--AND						HD.EntryPerson		='Usr_TRANSFER'
										)								H 
								ON				X.Company		=		H.Company 
								AND				X.TranNum		=		H.TranNumEncabezado
				
								)  Z 
				
				LEFT OUTER JOIN		(
										SELECT		Company, Tipo, GroupoAsignado, TipoCaso, id_caso, TranNum, Linea, PartNum, New_ID_Estado
										FROM		[RV].[RV_TBL_SIP_JOB_ACTUALIZA_ESTADO_PC]	J					
										GROUP BY	Company, Tipo, GroupoAsignado, TipoCaso, id_caso, TranNum, Linea, PartNum, New_ID_Estado
									) J
				ON				Z.Company			=		J.Company
				AND				Z.TranNum			=		J.TranNum
				AND				Z.PartNum			=		J.PartNum
				AND				Z.New_ID_Estado		=		J.New_ID_Estado
				WHERE
								J.New_ID_Estado IS NULL
				AND				Z.New_ID_Estado		<>		0
				/*AND				CAST (Fecha AS date) >'2024-09-18'
				AND				*/
				
				--ORDER BY		X.Company,X.TranNum,X.Linea,X.PartNum desc
	IF EXISTS (SELECT 1 FROM @TablaTemporal)
	BEGIN
					--/* Insertar los datos en la tabla física
					INSERT INTO [RV].[RV_TBL_SIP_JOB_ACTUALIZA_ESTADO_PC]
					SELECT		* 
					FROM 		@TablaTemporal
				
					--*/
			/*********************************************************************************
			*********************************ACTUALIZA TABLAS*********************************
			**********************************************************************************/
			BEGIN TRANSACTION;
					--/*
					/***** Actualizar la tabla [dbo].[casos]*****/
					UPDATE C
					SET				C.id_estado							=		T.New_ID_Estado, 
									--Actualizo numero legal de Epicor solo cuando el id de estado sea 12
									C.nota_credito_debito				=		CASE
																						WHEN		T.New_ID_Estado	=	12 
																						THEN		T.LegalNumber 
																						ELSE		C.nota_credito_debito
																				END,								
									C.NC_INTERNO						=		CASE
																						WHEN		T.New_ID_Estado	=	12 
																						THEN		T.InvoiceNum 
																						ELSE		C.NC_INTERNO
																				END						
					FROM			dbo.casos							AS C
					JOIN			@TablaTemporal						AS T 
					ON				C.ID								=		T.id_caso 
					AND				T.TipoCaso							=		'SO'
					WHERE			C.id_estado							>=		4

					/***** Actualizar la tabla [dbo].[casos_dif_precios]*****/
					UPDATE CDP
					SET				CDP.id_estado						=		T.New_ID_Estado,
									--Actualizo numero legal de Epicor solo cuando el id de estado sea 12
									CDP.nota_credito_debito				=		CASE
																						WHEN		T.New_ID_Estado	=	8 
																						THEN		T.LegalNumber 
																						ELSE		CDP.nota_credito_debito
																				END,
									CDP.NC_INTERNO						=		CASE
																						WHEN		T.New_ID_Estado	=	8 
																						THEN		T.InvoiceNum 
																						ELSE		CDP.NC_INTERNO
																				END

					FROM			dbo.casos_dif_precios				AS CDP
					JOIN			@TablaTemporal						AS T 
					ON				CDP.ID								=		T.id_caso 
					AND				T.TipoCaso							=		'DP'
					WHERE			CDP.id_estado						>=		4

					/***** Actualizar la tabla [dbo].[casos_acuerdos_comerciales]*****/
					UPDATE CAC
					SET				CAC.id_estado						=		T.New_ID_Estado,
									--Actualizo numero legal de Epicor solo cuando el id de estado sea 12
									CAC.nota_credito_debito				=		CASE
																						WHEN		T.New_ID_Estado	=	8 
																						THEN		T.LegalNumber 
																						ELSE		CAC.nota_credito_debito
																				END,
									CAC.NC_INTERNO						=		CASE
																						WHEN		T.New_ID_Estado	=	8 
																						THEN		T.InvoiceNum 
																						ELSE		CAC.NC_INTERNO
																				END
					FROM			dbo.casos_acuerdos_comerciales		AS CAC
					JOIN			@TablaTemporal						AS T 
					ON				CAC.ID								=		T.id_caso 
					AND				T.TipoCaso							=		'AC'
					WHERE			CAC.id_estado						>=		3
					--*/
				
					/****Verificar el contenido de la tabla temporal*****/
					/*

					SELECT		* 
					FROM 		@TablaTemporal

					--*/

			COMMIT TRANSACTION;
			/*********************************************************************************
			**********************************************************************************
			**********************************************************************************/
	END

		END TRY

		BEGIN CATCH
			ROLLBACK TRANSACTION;
			-- Log del error
			SELECT ERROR_MESSAGE()
		END CATCH

END

GO
